In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('green_tripdata_2020-10.csv')
df.head()

/var/folders/gz/rb99vhsj5qv6mj0nbyzrkffh0000gn/T/ipykernel_88391/125331619.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2020-10.csv')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.0,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0

In [4]:
df.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [7]:
df.shape

(95120, 20)

In [10]:
def load_and_combine_data(prefix, files):
    dataframes = []

    data_types = {
        'VendorID': pd.Int64Dtype(),
        'passenger_count': pd.Int64Dtype(),
        'trip_distance': float,
        'RatecodeID': pd.Int64Dtype(),
        'store_and_fwd_flag': str,
        'PULocationID': pd.Int64Dtype(),
        'DOLocationID': pd.Int64Dtype(),
        'payment_type': pd.Int64Dtype(),
        'fare_amount': float,
        'extra': float,
        'mta_tax': float,
        'tip_amount': float,
        'tolls_amount': float,
        'improvement_surcharge': float,
        'total_amount': float,
        'congestion_surcharge': float
    }

    parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

    for file_name in files:
        url = f"{prefix}{file_name}"
        df = pd.read_csv(url,
                         compression='gzip', 
                         dtype=data_types, 
                         parse_dates=parse_dates)
        dataframes.append(df)
    
    return pd.concat(dataframes, ignore_index=True)

In [11]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/'
files = [
  'green_tripdata_2020-10.csv.gz',
  'green_tripdata_2020-11.csv.gz',
  'green_tripdata_2020-12.csv.gz',
]

# Загрузка и объединение данных
combined_df = load_and_combine_data(prefix, files)

combined_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1,7,7,1,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1,1.0,0.0
1,2,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1,179,7,1,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1.0,0.0
2,2,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1,179,223,1,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1.0,0.0
3,1,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1,134,216,2,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0,0.0
4,1,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1,82,7,1,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266850,<NA>,2020-12-31 23:02:00,2020-12-31 23:16:00,NaN,<NA>,174,168,<NA>,7.04,20.33,0.0,0.0,0.00,0.0,NaN,0.3,20.63,<NA>,NaN,NaN
266851,<NA>,2020-12-31 23:39:00,2020-12-31 23:54:00,NaN,<NA>,256,225,<NA>,2.79,13.17,0.0,0.0,0.00,0.0,NaN,0.3,13.47,<NA>,NaN,NaN
266852,<NA>,2020-12-31 23:09:00,2020-12-31 23:33:00,NaN,<NA>,146,10,<NA>,12.41,45.12,0.0,0.0,2.75,0.0,NaN,0.3,48.17,<NA>,NaN,NaN
266853,<NA>,2020-12-31 23:01:00,2020-12-31 23:12:00,NaN,<NA>,196,28,<NA>,4.46,13.96,0.0,0.0,3.13,0.0,NaN,0.3,17.39,<NA>,NaN,NaN
266854,<NA>,2020-12-31 23:12:00,2020-12-31 23:37:00,NaN,<NA>,215,35,<NA>,10.34,39.95,0.0,0.0,2.75,0.0,NaN,0.3,43.00,<NA>,NaN,NaN

In [13]:
pd.to_datetime(combined_df['lpep_pickup_datetime'], unit='ms').dt.date

0         2020-10-01
1         2020-10-01
2         2020-10-01
3         2020-10-01
4         2020-10-01
             ...
266850    2020-12-31
266851    2020-12-31
266852    2020-12-31
266853    2020-12-31
266854    2020-12-31
Name: lpep_pickup_datetime, Length: 266855, dtype: object

In [23]:
df['VendorID'].value_counts()

VendorID
2.0    42605
1.0    10005
Name: count, dtype: int64

In [25]:
df['trip_distance'].isin([0]).sum()

3658